<h3>Welcome, <%= @walker.first_name %>!</h3>
<p>In a future version of this, there will be a carousel will display the <br>
  last 5 five dog owners that have created an account with a picture. It <br>
  will also have a link to the user's profile, where the user can edit their<br>
  information. There will also be the ability to message dog owners. FANCY!</p>
