
  <div class="title-fade col-xs-6">


    <h1 class="">Dogs of Seattle</h1>

    <h3>Welcome!</h3>

    <p>Dogs of Seattle is a free website to help connect dog owners with dog walkers.
      <br>
      <br>
      Try it today!</p>

      <%= link_to "Sign up here!", 'signup', class:"btn btn-default" %>

    </div>
    <div class="col-xs-6"></div>
