<div><h1>Dogs of Seattle</h1>

<nav>
<%= link_to "Login", 'login' %>
</nav>
</div>

<h3>Welcome!</h3>

<p>Dogs of Seattle is a free website to help connect dog owners with dog walkers.
  Try it today!</p>

<%= link_to "Sign up here!", 'signup' %>
