<div><h1>Dogs of Seattle</h1>

<nav>
<%= link_to "Login", 'login' %>
</nav>
</div>

<h3>Welcome!</h3>

<p>Dogs of Seattle is a free website to help connect dog owners with dog walkers.
  Try it today!</p>

<h3>Sign up here!</h3>

<%= link_to "I am an owner with a dog that needs more walks!", 'signup' %>
<%= link_to "I am a person that wants to walk dogs!", 'signup' %>
