<fieldset>
  <%= form_for @owner, url:{ action: @action } do |f| %>
    <legend><h1>Complete the following information</h1></legend>
    <%= f.label :bio %>
    <%= f.text_field :bio %>
    <%= f.submit "Submit", :class => 'submit_button' %>
  <% end %>
