<div class="col-md-2"></div>
<div class="col-md-8">
<h3>Get started by selecting one of the two options below</h3>
<br>

<%= link_to "I am an owner with a dog that needs more walks!", new_user_owner_path(@user.id), class: "btn btn-default" %>
<br>
<br>
<%= link_to "I am a person that wants to walk dogs!", new_user_walker_path(@user.id), class: "btn btn-default" %>
</div>
<div class="col-md-2"></div>
