body {
  background-image: image-url("dog1.jpg");
  background-size: cover;
  font-family:'Quattrocento Sans', sans-serif;
}

h1 {
  display: inline-block;
}
nav {
  display: inline-block;
  float: right;
}
